<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <h1>📚 Blog Posts</h1>
        <div class="input-field">
            <input type="text" id="api-base-url" placeholder="Enter API Base URL" value="http://127.0.0.1:5002/api">
            <button onclick="loadPosts()">Load Posts</button>
        </div>
        <div class="sort-container">
            <label for="sort-option"><i class="fas fa-sort"></i> Sort Option:</label>
            <select id="sort-option">
                <option value="title">Title</option>
                <option value="content">Content</option>
            </select>
            <label for="sort-direction"><i class="fas fa-sort-amount-up"></i> Sort Direction:</label>
            <select id="sort-direction">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
            </select>
        </div>

        <div class="input-field">
            <input type="text" id="post-title" placeholder="Enter Post Title">
            <input type="text" id="post-content" placeholder="Enter Post Content">
            <button onclick="addPost()">Add Post</button>

        </div>
        <div>
          <button id="searchButton" onclick="toggleSearchInput()">Search</button>
          <input type="text" id="searchInput" placeholder="Search" style="display: none;">
          <button id="enterButton" onclick="searchPosts()" style="display: none;">Enter</button>
          <button id="cancelButton" onclick="cancelSearch()" style="display: none;">Cancel</button>
        </div>

        <div id="post-container">
            <!-- Blog posts will be inserted here by JavaScript -->
        </div>
    </div>

    <script src="static/main.js"></script>
</body>
</html>
